body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header-general-container {
  grid-area: header;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
}
.header-general-container .header-input {
  width: 25%;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.content-general-container {
  grid-area: main-content;
  background-color: rgb(39, 39, 39);
  color: white;
}
.content-general-container .form-general-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}
.content-general-container .form-general-container input {
  width: 60%;
  margin: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.3rem;
}
.content-general-container .form-general-container button {
  width: 16%;
  padding: 0.4rem;
  margin: 0 0 0 0.5rem;
  background-color: #1890ff;
  color: white;
  border-radius: 0.3rem;
}
.content-general-container .form-general-container button:hover {
  background-color: #40a9ff;
}
.content-general-container .content-general-sub-title {
  margin: 1rem;
  font-size: 36px;
}
.content-general-container .list-of-collaborators-container {
  margin: 1rem;
}

.app-genereal-container {
  display: grid;
  grid-template-areas:
    "header"
    "main-content";
  grid-template-rows: 5% 95%;
  grid-template-columns: 100%;
  height: 100vh;
  width: 100%;
}
